/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: "Manrope", Verdana, Geneva, Tahoma, sans-serif;
}

a {
  /* text-decoration: none; */
  color: #181818;
  font-size: 0.75em;
  display: none;
}

/* Background and container styles */
body {
  background-color: #181818;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #181818;
  flex: 1 1 auto;
  height: 100vh;
}

/* Sidebar styles */
.sidebar {
  background-color: #b15cff;
  flex: 1 1 auto;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* overflow: auto; */
  height: 100%;
  width: 50%;
}

/* Card container styles */
.card-container {
  display: flex;
  flex-direction: column;
  flex: 10 1 auto;
  gap: 20px;
  overflow: auto;
  /* height: 50; */
  height: 100%;
  border-radius: 20px;
}

/* Card styles */
.card-container::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}

.card {
  display: flex;
  flex: 1 1 auto;
  background-color: #212121;
  padding: 1em;
  border-radius: 20px;
  gap: 10px;
  cursor: pointer;
}

.card:hover {
  transition: all 0.15s;
  background-color: rgb(55, 44, 65);
}

/* Card text styles */
.card-text {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1em;
  flex: 1 1 auto;
}

.card-text h1 {
  font-size: 2em;
}

.card-text p {
  font-size: 0.75rem;
}

/* Artist rank styles */
.artist-rank {
  display: inline-block;
  font-size: 2.5em;
  color: white;
}

.artist-rank-container {
  height: 5rem;
  width: 6em;
  flex: 0 1 auto;
  padding: 1em;
  margin: auto;
  text-align: center;
}

/* Title styles */
.title {
  color: #b15cff;
  font-size: 1.5rem;
}

/* Bio styles */
.bio {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 1 auto;
  color: #181818;
}

.bio-summary p {
  /* width: 28rem; */
  overflow-wrap: break-word;
  flex: 0 1 auto;
  color: #181818;
}

/* Sidebar hero styles */
.sidebar-hero h1 {
  font-weight: 800;
  font-size: 5vw;
  color: #181818;
  flex: 1 1 auto;
}

.sidebar-hero h5 {
  color: #181818;
  font-size: 0.7em;
}

/* Navigation styles */
nav p {
  font-size: 24px;
  padding: 20px;
}

.spotify-embed {
  flex: 1 1 auto;
  align-self: flex-start;
  color: red;
}
