* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
  /* border: 1px solid red; */
  font-family: "Manrope", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #181818;
  /* background-color: green; */
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #181818;
  flex: 1 1 auto;
}

.sidebar {
  background-color: #b15cff;
  flex: 1 1 auto;
  border-radius: 20px;
  padding: 50px;
}
.card-container {
  display: flex;
  flex-direction: column;
  /* padding: 50px; */
  flex: 1 1 auto;
  gap: 20px;
}

.card {
  display: flex;
  flex: 1 1 auto;
  background-color: #212121;
  /* height: 100px; */
  padding: 20px;
  border-radius: 20px;
  gap: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  flex: 1 1 auto;
}

.card-text p {
  font-size: 0.75rem;
}

/* nav {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
} */

nav p {
  font-size: 24px;
  padding: 20;
}

.artist-rank {
  font-size: 5.5em;
  color: white;
}

.title {
  color: #b15cff;
  font-size: 1.5em;
}

.sidebar {
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.sidebar-hero h1 {
  font-weight: 800;
  font-size: 5vw;
  flex: 1 1 auto;
}
