* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
  /* border: 1px solid red; */
  font-family: "Manrope", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #181818;
  /* background-color: green; */
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #181818;
  flex: 1 1 auto;
  height: 100vh;
}

.sidebar {
  background-color: #b15cff;
  flex: 1 1 auto;
  border-radius: 20px;
  padding: 50px;
  /* height: 100px; */
  /* overflow: hidden; */
}
.card-container {
  display: flex;
  flex-direction: column;
  /* padding: 50px; */
  flex: 10 1 auto;
  gap: 20px;
  overflow: auto;
  height: 100vh;
  border-radius: 20px;
  /* align-items: center; */
}

.card-container::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
}

.card {
  display: flex;
  flex: 1 1 auto;
  background-color: #212121;
  /* height: 100px; */
  padding: 1em;
  border-radius: 20px;
  gap: 10px;
}

.card:hover {
  transition: all 0.15s;
  background-color: rgb(55, 44, 65);
}

.card-text {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1em;
  flex: 1 1 auto;
}

.card-text h1 {
  font-size: 2em;
}

.card-text p {
  font-size: 0.75rem;
}

/* nav {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
} */

nav p {
  font-size: 24px;
  padding: 20;
}

.artist-rank {
  display: inline-block;
  font-size: 2.5em;
  color: white;
  /* flex: 1 1 auto; */
  /* padding: 0.25em; */
}

.artist-rank-container {
  /* background-color: wheat; */
  height: 5rem;
  width: 6em;
  flex: 0 1 auto;
  padding: 1em;
  margin: auto;
  text-align: center;
}

.title {
  color: #b15cff;
  font-size: 1.5rem;
}

.sidebar {
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.sidebar-hero h1 {
  font-weight: 800;
  font-size: 5vw;
  flex: 1 1 auto;
}
